/* @media (max-width: 500px) <- this is to change css for smaller screen 
@media (orientation: landscape) <- this is for when the length is shorter than the width  */

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: linear-gradient(#022140, #265077);
}

/* ----------navigation bar---------- */
.topPage{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 40px;
    margin: 30px 0;
}
.menu-icon{
    width: 40px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    margin-right: 1.8%;
}
nav ul li a{
    text-decoration: none;
    color: #ccd6f6;
    font-size: 18px;
}
nav ul li a:hover{
    color:cadetblue;
}
#resume{
    color: orangered;
}

/* -----------my info---------- */
.topPage .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13% 0;
}
.topPage .col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 17.3%;
}
.topPage .row .col-1 h1{
    font-size: 535%;
    color: #ccd6f6;
    font-weight: 50;
}
.topPage .row .col-1 h3{
    font-size: 344%;
    font-weight:650;
    margin: 3% 0 2%;
    color: #15db95;
}
.topPage .row .col-1 h4{
    font-size: 135%;
    font-weight: 30;
    margin: 3% 0;
    color: orangered;
}
.topPage .row .col-1 h5{
    font-size: 130%;
    font-weight: 30;
    margin: 3% 0;
    color: cadetblue;
}
.topPage .row .col-2 a{
    background-color: #f14c41;
    color: white;
    padding: 3% 6%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.topPage .row .col-2{
    position: relative;
    flex-basis: 25%;
    display: flex;
    align-items: center;
}

/* ---------- about me ----------- */
.aboutMe{
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}
.aboutMe .row{
    display: flex;
    justify-content: space-between;
    margin: 8% 0;
}
.aboutMe .col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 14.5%;
}
.aboutMe .row .col-1 h3{
    font-size: 288%;
    color: orangered;
}
.aboutMe .row .col-1 p{
    font-size: 125%;
    color: white;
}
.aboutMe .row .col-1 .languages{
    display: flex;
    justify-content: space-between;
    margin: 7% 0 auto;
}
.aboutMe .row .col-1 .languages h5{
    font-size: 125%;
    color: tomato;
    flex-basis: 50%;

}
.aboutMe .row .col-1 .languages ul{
    flex-basis: 50%;
}
.aboutMe .row .col-1 .languages ul li{
    font-size: 125%;
    color: whitesmoke;
}
.aboutMe .row .col-1 .skills{
    display: flex;
    justify-content: space-between;
    margin: 6.7% 0 auto;
}
.aboutMe .row .col-1 .skills h5{
    font-size: 125%;
    color: tomato;
    flex-basis: 50%;
}
.aboutMe .row .col-1 .skills ul{
    flex-basis: 50%;
}
.aboutMe .row .col-1 .skills ul li{
    font-size: 125%;
    color: white;
}
.aboutMe .row .col-2{
    margin-left: 2.5%;
    text-align: center;
    align-self: center;
}
.aboutMe .row .col-2 .profilePic{
    width: 50%;
}

/* --------- Work Project ---------- */
.workProject{
    width: 100%;
    min-height: 100vh;
    padding-left: 15%;
    padding-right: 15%;
    box-sizing: border-box;
    overflow: hidden;
}
.workProject h1{
    font-size: 290%;
    color: orangered;
    margin-top: 3.8%;
    text-align: center;
}
.workProject .row{
    display: flex;
    justify-content: space-between;
    margin: 10% 0;
}
.workProject .row .box-1{
    flex-basis: 50%;
    position: relative;
    text-align: center;
}
.SCpic{
    width: 70%;
}
.workProject .row .box-2 a{
    text-decoration: none;
}
.workProject .row .box-2 h1{
    color: wheat;
    cursor: pointer;
    margin-top: 0;
    text-align: left;
}
.workProject .row .box-2{
    flex-basis: 50%;
    position: relative;
}
.workProject .row .box-2 ul li{
    color: white;
    margin-top: 3%;
}
.workProject .row .box-2 ul li a{
    color: #f3e0dc;
    text-decoration: none;

}
.workProject .two .mm-p{
    order: 2;
}
.workProject .two .mm-d{
    order: 1;
}



/* -------------------------------------------------------this is for smaller screens------------------------------------------------------- */
@media only screen and (max-width: 700px){

    /* ----------nav bar---------- */
    nav ul{
        width: 50%;
        background: linear-gradient(#022140, #022140);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }

    /* -------------top page------------- */
    .topPage .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin: 20px 0;
    }
    .topPage .row .col-2{
        flex-basis: 100%;
        margin-top: 10%;
    }
    .topPage .row .col-1{
        flex-basis: 100%;
        margin-left: 0;
    }
    .topPage .row .col-1 h1{
        font-size: 500%;
    }
    .topPage .row .col-1 h3{
        font-size: 300%;
    }
    .topPage .row .col-1 h5{
        font-size: 120%;
    }

    /* ---------- about me ----------- */
    .aboutMe .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin:0 9%;
    }
    .aboutMe .row .col-1{
        margin-left: 0;
        order: 2;
    }
    .aboutMe .row .col-1 h3{
        text-align: center;
        font-size: 250%;
    }
    .aboutMe .row .col-1 p {
        font-size: 115%;
    }
    .aboutMe .row .col-1 .languages h5 {
        font-size: 115%;
        flex-basis: 65%;
    }
    .aboutMe .row .col-1 .skills h5 {
        font-size: 115%;
        flex-basis: 65%;
    }
    .aboutMe .row .col-1 .languages ul li {
        font-size: 115%;
    }
    .aboutMe .row .col-2{
        order: 1;
        margin-left: auto;
    }
    .aboutMe .col-2 .profilePic{
        width: 80%;
        margin: 20px auto auto auto;
        display: block;
    }

    /* ---------- work project ---------- */
    .workProject .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .workProject h1{
        margin: 3.8% 0;
    }
    .workProject .one{
        margin-bottom: 15%;
    }
    .workProject .SCpic{
        width: 100%;
    }
    .workProject .row .box-2 h1{
        font-size: 200%;
        text-align: center;
    }
    .workProject .two .box-1{
        order: 1
    }
    .workProject .two .box-2{
        order: 2
    }
}